* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
:root {
    --bg-color: #ffffff;
    --second-bg-color: #f9f9f9;
    --text-color: #fff;
    --second-color: #161616;
    --main-color: #00ab76;
    --other-color: #6a6a6a;
    --big-font: 5.7rem;
    --h2-font: 3.8rem;
    --p-font: 1rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
header {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e1e1e;
    padding: 15px 6%;
}
.logo {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--text-color);
}
span {
    color: var(--main-color);
}
.navlist {
    display: flex;
}
.navlist li {
    position: relative;
}
.navlist a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 20px;
}
.navlist a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .30s;
}
.navlist a:hover::after {
    width: 100%;
}
#menu-icon {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
section {
    padding: 120px 16%;
}
.home {
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}
.home-text {
    padding-top: 120px;
}
.home-text h1 {
    font-size: var(--big-font);
    color: var(--text-color);
    line-height: 1.11;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 0 0 25px;
}
.home-text h4 {
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 1.21;
    font-weight: 700;
    margin-bottom: 40px;
}
.btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 33px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 30px;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: ease .30s;
}
.btn:hover {
    transform: scale(1.1);
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
.about {
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2,2fr);
}
.about-img {
    max-width: 100%;
    width: 490px;
    height: auto;
}
.about-text h2 {
    font-size: var(--h2-font);
    color: var(--second-color);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.2rem;
}
.about-text h5 {
    color: var(--second-color);
    font-size: 1.3rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.about-text p {
    font-size: var(--p-font);
    font-weight: 400;
    max-width: 570px;
    line-height: 1.8;
    color: var(--other-color);
    margin-bottom: 2.5rem;
    text-align: justify;
}
.stack-container {
    display: inline-flex;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.stack{
    margin-bottom: 50px;
}
.stack i {
    color: var(--main-color);
    font-size: 2.5rem;
    transition: 0.2s;
    cursor: pointer;
}
.stack i:hover {
    transform: scale(1.2);
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.service {
    background: var(--second-bg-color);
}
.heading {
    text-align: center;
}
.heading h2 {
    font-size: var(--h2-font);
    color: var(--second-color);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 1.6rem;
}
.heading p {
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 1.8;
    color: var(--other-color);
}
.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;
}
.box {
    background: var(--bg-color);
    padding: 45px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .35s;
}
.box i {
    color: var(--main-color);
    font-size: 2.8rem;
    margin-bottom: 18px;
}
.box h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--second-color);
}
.box p {
    color: var(--other-color);
    font-size: 16px;
    line-height: 30px;
}
.box:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgb(55, 7, 23, 7%);
}
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;
    text-align: center;
    cursor: pointer;
}
.col {
    position: relative;
}
.col img {
    max-width: 100%;
    width: 629px;
    height: auto;
    border-radius: 15px;
}
.layer {
    background: transparent;
    border: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    top: 0;
    left: 0;
    transition: all .35s;
}
.layer:hover {
    background: linear-gradient(rgba(22, 22, 22, 0.06) 0%, #009f92 100%);
}
.live {
    background-color: var(--second-color);
    color: white;
    padding: 5px;
    width: 20%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.live:hover {
    background-color:white;
    color: var(--second-color);
}
.layer h3 {
    position: absolute;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .35s;
}
.layer .project-description {
    position: absolute;
    text-align: justify;
    width: 85%;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .35s;
}
.layer:hover h3 {
    bottom: 75%;
    opacity: 1;
}
.layer:hover .project-description {
    bottom: 35%;
    opacity: 1;
}
.layer .live {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .35s;
}
.layer:hover .live {
    bottom: 15%;
    opacity: 1;
}
.contact {
    background: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}
.contact h2 {
    color: var(--text-color);
    font-size: 1.9rem;
}
.contact .contact-form {
    background: var(--bg-color);
    margin-top: 1rem;
    border-radius: 30px;
    padding: 4px 10px;
    max-width: 100%;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.contact .contact-form input {
    border: none;
    outline: none;
}
.contact .contact-form .cta {
    background: var(--main-color);
    color: var(--text-color);
    padding: 8px 20px;
    border-radius: 30px;
}
form {
    margin: auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vW;
    padding: 2em;
}
fieldset {
    border: 0;
    padding: 2rem 0;
}
input, textarea {
    width: 100%;
    margin-bottom: 20px;
    color: var(--other-color);
    min-height: 2em;
}
input, textarea {
    background-color: white;
    border: none;
    border-radius: 5px;
}
input[type="submit"] {
    display: block;
    width: 10%;
    height: 2em;
    margin: 0 auto 1em auto;
    font-size: 1.1rem;
    background: var(--main-color);
    color: var(--text-color);
    min-width: 100px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 30px;
}
input[type="submit"]:hover {
    transform: scale(1.1);
}
.copyright {
    background: var(--bg-color);
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.copyright p {
    font-size: 14px;
    font-weight: 500;
    color: var(--other-color);
}
.icon a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    width: 35px;
    height: 35px;
    margin: 0 5px;
    color: var(--text-color);
    font-size: 1.2rem;
    border-radius: 50%;
    transition: all .40s;
}
.icon a:hover {
    transform: translateY(-5px);
}
@media (max-width: 1380px){
    header {
        padding: 18px 2%;
        transition: .2s;
    }
    section {
        padding: 80px 2%;
        transition: .3s;
    }
    :root{
        --big-font: 4.7rem;
        --h2-font: 2.5rem;
    }
    .home-text h4 {
        font-size: 1.2rem;
    }
}
@media (max-width: 1120px) {
    header {
        padding: 14px 2%;
    }
    .home {
        height: 85vh;
    }
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--main-color);
        text-align: right;
        transition: all .35s;
    }
    .navlist a {
        display: block;
        padding: 1rem;
        margin: 1.2rem;
        border-right: 2px solid var(--text-color);
    }
    .navlist a:hover {
        background: var(--text-color);
        color: var(--second-color);
        border: none;
    }
    .navlist a::after{
        display: none;
    }
    .navlist.active {
        top:100%
    }
}
@media (max-width: 770px) {
    .about {
        grid-template-columns: 1fr;
    }
    .about-img {
        text-align: center;
        margin-bottom: 40px;
    }
    .contact {
        text-align: center;
    }
    .contact h2 {
        font-size: 1.4rem;
    }
    .copyright {
        justify-content: center;
        text-align: center;
    }
    .copyright p {
        margin-bottom: 30px;
    }
}
@media (max-width: 750px) {
    :root {
        --big-font: 3.5rem;
        --h2-font: 1.9rem;
        --p-font: 0.9rem;
    }
}
@media (max-width: 630px) {
    section {
        padding: 90px 4%;
    }
    header {
        padding: 14px 4%;
    }
    :root {
        --big-font: 3.2rem;
        --h2-font: 1.8rem;
        --p-font: 0.9rem;
    }
    .home-text h4 {
        font-size: 1.2rem;
    }
}
